</div>
<footer>
    <div class="footer-container">
        <p class="footer-content">
            Copyright &copy; <a href="https://www.haneesh.in">Haneesh</a> <br><br>
            This site and content belongs to Haneesh
        </p>
    </div>
</footer>
</body>
</html>