<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>English Quiz!</title>
    <link rel="stylesheet" href="/CSS/styles.css">
</head>

<body>
    <div class="navbar">
        <a href="/"><span class="navtitle">English Quiz</span></a>
        <span class="nav-right">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/quiz">Today's Quiz</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/developer">Developer related</a></li>
            </ul>
        </span>
    </div>
    <div class="container">