<%- include("partials/header") %>
<center>
    <img src="/Images/404.png" class="error-img">
    <h2 class="error-title">404 | Page not found</h2>
    <p class="error-body">
        Sorry but the requested page is not found on our website. <a href="/">Click here</a> to go back to homepage.
    </p>
</center>
<%- include("partials/footer") %>