<%- include("partials/header") %>
<div class="developer-container">
    <div class="title">Developer related queries</div>
    <div class="content">
        <div class="read-about-me">
            If you want to read about me <a href="/about">Click here</a> or go to the nav bar and click about me.
        </div>
        Hello I don't know why you came to this page but there are some instructions to run the website. 
        <br> <br>
        <div class="sections-note">You can click on any section below to reach a section about that specific topic.</div>
        <div class="sections">
            <div class="title">Sections:-</div>
            <ul>
                <li><a href="#run-site">How to run site?</a></li>
                <li><a href="#contact-developer">Contact Developer.</a></li>
                <li><a href="#contact-developer">Suggest a new feature.</a></li>
                <li><a href="#bugs">Report bug.</a></li>
            </ul>
        </div>
    </div>
</div>
<%- include("partials/footer") %>