<%- include("partials/header") %>
<div class="developer-container">
    <div class="title">Developer related queries</div>
    <div class="content">
        <div class="read-about-me">
            If you want to read about me <a href="/about">Click here</a> or go to the nav bar and click about me.
        </div>
        Hello I don't know why you came to this page but there are some instructions to run the website. 
        <br> <br>
        <div class="sections-note">You can click on any section below to reach a section about that specific topic.</div>
        <div class="sections">
            <div class="title">Sections:-</div>
            <ul>
                <li><a href="#run-site">How to run site?</a></li>
                <li><a href="#contact-developer">Contact Developer.</a></li>
                <li><a href="#contact-developer">Suggest a new feature.</a></li>
                <li><a href="#bugs">Report bug.</a></li>
            </ul>
        </div>
        <div id="run-site">
            <div class="title">How to run the web app?</div>
            <div class="run-site-content">
                Hey there users! This site is user-freindly but though it is good to create a page about how to run the site.
                <br>
                So first of all, you have to click on quiz in the nav bar to attempt a quiz. We are creating accounts feature and it will be available very shortly. You can also report a bug in our website. We will always be ready to accept new features or bugs.
            </div>
        </div>
        <div id="contact-developer">
            <div class="title">Contact Developer</div>
            <div class="note">Sorry, but this feature will be available very shortly.</div>
        </div>
        <div id="bugs">
            <div class="title">Report a bug</div>
            <div class="note">Sorry, but this feature will be available very shortly.</div>
        </div>
    </div>
</div>
<%- include("partials/footer") %>