<%- include("partials/header") %>
<div class="quizImageContainer">
    <img src="Images/quiz-logo.jpg" class="quiz-img" alt="Quiz Logo" draggable="false">
</div>
<div class="welcome">
    Hello! Welcome to english quizes website.
</div>
<div class="content">
    You're gonna get a lot of english quizzes for participation and for practice. If you need more click on Quizes history to attempt past quizzes.
</div>
<div class="features">
    <div class="title">Features of English Quizes website:-</div>
    <div class="content">
        <ul>
            <li>Online:- Can be accessed from Mobile, Laptop, Desktop or Tablet.</li>
            <li>OS:- No interruptions because of your Operating Systems.</li>
            <li>Free:- Free of cost for all the people.</li>
            <li>Easy to use:- It is a really user-friendly application. Any new user can use it quite well.</li>
            <li>Secured:- Even a web developer can't access this page remotely or find the answers to the questions.</li>
        </ul>
    </div>
</div>
<center><a href="/quiz"><div id="getStarted">Get Started</div></a></center>
<%- include("partials/footer") %>