<%- include("partials/header") %>
<center><h4 class="result-text">You've got <%= marks %> / <%= maxMarks %></h4></center>
<center><div class="home-text">To go to homepage <a href="/">Click here</a></div></center>
<%- include("partials/footer") %>