@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Open+Sans&family=Poppins&family=Raleway&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Open Sans', 'Poppins', 'Raleway', Arial, sans-serif;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

.footer-container {
    padding: 1rem;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(142, 232, 232);
}


a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: rgb(112, 112, 112);
}

.navbar {
    font-size: 1.3rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 1.5rem 2rem;
    font-family: 'Open Sans', 'Roboto', 'Poppins', Arial, sans-serif;
    background-color: rgb(239, 239, 239);
}

.navbar .navtitle {
    font-family: 'Raleway', 'Open Sans', 'Roboto', 'Poppins', Arial, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.nav-right {
    position: fixed;
    right: 2rem;
}

.nav-right ul li {
    list-style: none;
    display: inline;
}

.nav-right ul li a {
    font-size: 1.2rem;
    padding: 1.65rem;
    margin: 0;
}

.container {
    margin: 6rem 3rem 7rem;
}   

.welcome {
    font-size: 1.5rem;
    font-family: 'Poppins', 'Raleway', 'Open Sans', 'Roboto', Arial, sans-serif;
}

.content {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.title {
    margin-top: 1rem;
    font-size: 1.3rem;
    font-family: 'Open Sans', 'Roboto', 'Poppins', 'Raleway', Arial, sans-serif;
}

.features {
    font-size: 1.2rem;
}

.features .content {
    margin: 0.5rem 3rem;
}

.features .content li {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.quiz-img {
    height: 8rem;
}

.quizImageContainer {
    text-align: center;
}

#getStarted {
    cursor: pointer;
    background: #05f0ad;
    background-image: -webkit-linear-gradient(top, #05f0ad, #0dba4f);
    background-image: -moz-linear-gradient(top, #05f0ad, #0dba4f);
    background-image: -ms-linear-gradient(top, #05f0ad, #0dba4f);
    background-image: -o-linear-gradient(top, #05f0ad, #0dba4f);
    background-image: linear-gradient(to bottom, #05f0ad, #0dba4f);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    color: #ffffff;
    font-size: 24px;
    padding: 15px 23px 15px 23px;
    text-decoration: none;
    width: 7.8rem;
    margin: 2rem;
}
  
#getStarted:hover {
    background: #18f0a1;
    background-image: -webkit-linear-gradient(top, #18f0a1, #39cc51);
    background-image: -moz-linear-gradient(top, #18f0a1, #39cc51);
    background-image: -ms-linear-gradient(top, #18f0a1, #39cc51);
    background-image: -o-linear-gradient(top, #18f0a1, #39cc51);
    background-image: linear-gradient(to bottom, #18f0a1, #39cc51);
    text-decoration: none;
}

.about.title {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Poppins', 'Raleway', 'Roboto', 'Open Sans', Arial, sans-serif;
}

.about-container .content {
    font-size: 1.2rem;
    line-height: 2rem;
}

.sections ul {
    margin: 1rem 3rem;
}

.sections-note {
    font-size: 1.45rem;
    font-weight: 500;
    font-family: 'Mukta', 'Raleway', 'Poppins', 'Open Sans', 'Roboto', Arial, sans-serif;
    letter-spacing: 0.01rem;
}

.error-title {
    font-family: 'Poppins', 'Roboto', 'Open Sans', 'Mukta', 'Raleway', Arial, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.error-body {
    font-size: 1.3rem;
    margin: 1rem;
}

.error-img {
    height: 10rem;
}

.run-site-content {
    margin: 1rem 0;
    font-size: 1.2rem;
}

.blank {
    border: 3px solid rgb(209, 209, 209);
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    transition: 0.3s;
    text-align: center;
    font-size: 1.3rem;
    padding: 0.2rem;
    font-family: 'Poppins', 'Mukta', 'Raleway', 'Open Sans', 'Roboto', Arial, sans-serif;
    width: 15rem;
}

.blank:focus {
    border-color: #000;
}

.question {
    margin: 0.8rem 0;
    font-size: 1.3rem;
}

.quiz .title {
    font-size: 1.5rem;
}

.submit-btn {
    cursor: pointer;
    background: #05f0ad;
    background-image: -webkit-linear-gradient(top, #05f0ad, #0dba4f);
    background-image: -moz-linear-gradient(top, #05f0ad, #0dba4f);
    background-image: -ms-linear-gradient(top, #05f0ad, #0dba4f);
    background-image: -o-linear-gradient(top, #05f0ad, #0dba4f);
    background-image: linear-gradient(to bottom, #05f0ad, #0dba4f);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    text-decoration: none;
    width: 20rem;
    margin-top: 2rem;
}

.submit-btn:hover {
    background: #18f0a1;
    background-image: -webkit-linear-gradient(top, #18f0a1, #39cc51);
    background-image: -moz-linear-gradient(top, #18f0a1, #39cc51);
    background-image: -ms-linear-gradient(top, #18f0a1, #39cc51);
    background-image: -o-linear-gradient(top, #18f0a1, #39cc51);
    background-image: linear-gradient(to bottom, #18f0a1, #39cc51);
    text-decoration: none;
}

.result-text {
    font-size: 1.5rem;
    font-weight: 400;
}

.home-text {
    font-size: 1.3rem;
    margin: 1rem;
}